@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Curlz MT';
	src: url(fonts/Curlz MT.ttf) format('truetype'),
		url(fonts/Curlz MT.woff) format('woff');
}
h1 {
  font-family: 'Curlz MT', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
			  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
        }

        .pink-table {
            background-color: #FCE1F2;
            color: black;
            padding: 10px;
            border: 20px solid #1ACFE5;
        }

        .image-gallery {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            align-items: center;
        }

        .image-gallery img {
            max-width: 200px;
            height: auto;
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        .emoji {
            font-size: 2rem;
            margin-right: 10px;
        }

        @media screen and (max-width: 768px) {
            .image-gallery img {
                max-width: 100px;
            }
        }
.emoji {
  position: absolute;
  font-size: 32px; /* Adjust size as needed */
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}