@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Curlz MT';
	src: url('fonts/CurlzMT.ttf') format('truetype'),
	url('fonts/CurlzMT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  background-image: url('images/Windows 10 Default Wallpaper.webp');
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  font-family: 'Curlz MT', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
			  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
        }

        .pink-table {
            background-color: #FCE1F2;
            color: black;
            padding: 10px;
            border: 20px solid #1ACFE5;
        }

        .image-gallery {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            align-items: center;
        }

        .image-gallery img {
            max-width: 200px;
            height: auto;
            border: 2px solid #D100BF;
            border-radius: 8px;
        }

        .emoji {
            font-size: 2rem;
            margin-right: 10px;
        }

        @media screen and (max-width: 768px) {
            .image-gallery img {
                max-width: 100px;
            }
        }
.emoji {
  position: absolute;
  font-size: 32px; /* Adjust size as needed */
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* MESSAGES */

.message-section {
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #D100BF;
}

button {
    padding: 10px 20px;
    background-color: #1ACFE5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

#messageDisplay {
    margin-top: 20px;
    background-color: #FCE1F2;
    padding: 10px;
    border-radius: 8px;
}
